/* ===============================
   Partner Balance Toolbar
================================ */

.partner-balance-toolbar {
    background-color: #f8f9fa;

    .form-control-sm {
        width: auto;
        max-width: 140px;
    }
}
